@import 'variables.module.scss';

.Custom__Background {
  background-color: $background-color;
}

.Custom__Wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 0%;
  //transform: translate(-50%, -50%);

}

.Custom__Input {

}


.Custom__Input header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $custom-color;
  width: 100%;
  display: flex;
  color: black;
  justify-content: center;
}

.Custom__Input > div  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $background-color;
  align-items: flex-start;
}
.Custom__Input > div > form {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  align-content: center;
  align-items: center;
}

.Custom__Input > div > form > input {
  color: $custom-dark;
  margin: 1rem;
  padding: .4rem;
}

.Custom__Input > div > form > button {
  background-color: #ffff02;
  color: black;
  box-shadow: 2px 2px 2px 0px white,1px 0px 8px 3px #f7f4f4;
  border-radius: 3rem;
  padding: .3rem;
  border: 4px solid black;
}

.Custom__Table{
  display: flex;
  align-self: flex-start;
  width: 100%;
  flex-direction: column;
}
.Custom__TableRow{
  background-color: #ffff02;
  color: black;
  box-shadow: 2px 2px 2px 0px white,1px 0px 8px 3px #f7f4f4;
  border-radius: 1rem;
  padding: .1rem;
  border: 4px solid black;
  width: 50%;
}
